@media screen and (min-width: 0px) and (max-width : 376px) {
    .calculator {
        width: 100vw;
        height: 75vh;

    }

    button {
        width: 50px;
        height: 60px;
    }

    .clr,
    .del {
        width: 50px;
        height: 60px;
    }

    .eql {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    .textinput {
        height: 1vh;
        width: 55vw;
        position: relative;
        bottom: 15px;
    }
}


@media screen and (min-width: 374px) and (max-width : 430px) {
    .calculator {
        width: 85vw;
        height: 75vh;
    }

    button {
        padding: 1.3rem;
    }

    .clr,
    .del {
        width: 3.5rem;
        height: 4rem;
    }

    .eql {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    .textinput {
        height: 1vh;
        width: 55vw;
    }

    .child {
        margin-top: -2.5rem;
        margin-bottom: -2.5rem;
    }
}

@media screen and (min-width: 431px) and (max-width : 830px) {
    .calculator {
        width: 85vw;
    }

    button {
        padding: 2.5rem;
        font-size: 1.5rem;
    }

    .clr,
    .del {
        width: 5.5rem;
        height: 6.5rem;
        font-size: 1.5rem;
    }

    .eql {
        padding-left: 6rem;
        padding-right: 6rem;
        font-size: 1.5rem;

    }

    .textinput {
        height: 9vh;
        width: 65vw;
        font-size: 1.5rem;

    }
}



@media screen and (min-width: 830px) and (max-width : 1030px) {
    .calculator {
        width: 85vw;
    }

    button {
        padding: 3rem;
        font-size: 3rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .clr,
    .del {
        width: 7.5rem;
        height: 9rem;
        font-size: 2.5rem;
    }

    .eql {
        padding-left: 8rem;
        padding-right: 8rem;
        font-size: 2.5rem;

    }

    .textinput {
        height: 9vh;
        width: 65vw;
        font-size: 2.5rem;

    }
}