* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: 0;
}

body , html{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 350px;
    height: 550px;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}

.textinput {
    width: 280px;
    height: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: right;
    border: 2px solid rgb(107, 107, 107);
    background: #e0e0e0;
    box-shadow: inset 8px 8px 4px #a4a4a4,
        inset -8px -8px 4px #ffffff
}

.textinput:focus {
    outline: none;
}

button {

    width: 60px;
    height: 60px;
    color: white;
    background-color: rgb(18, 18, 18);
    border-radius: 20%;
    font-size: 1.3rem;
    border: none;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    box-shadow:
        -4px -4px 8px #ffffff;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
 button:hover{
    background-color: rgb(37, 37, 37);
 }
button:active {
    scale: 0.9;
}

.clr,
.del {
    color: white;
    font-size: 1rem;
    width: 60px;
    height: 60px;
}

.eql {
    padding-left: 70px;
    padding-right: 70px;
}
